# ========================================
# Template: project specific
# ========================================
uploads
*.pid
__pycache__
*.log
*.db
creation_log
*-swp
# Fichiers temporaires
*.tmp
*.log
*.bak
*.pid
# ========================================
# Template: shell
# ========================================
logs/
output/
infos/
result/
results/
backup/
*.log
*.zip
*.tar.gz
*.rar
certs/
secrets/
