################################################################################
# DOCUMENT INFORMATION
################################################################################
# Document Name    : requirements.txt
# Document Full Path & name : requirements.txt
# Author         : Bruno DELNOZ
# Email          : bruno.delnoz@protonmail.com
# Version        : V1.0
# Date  / Time   : 2026-02-09 20:47:11
# Short description : Python dependencies
################################################################################
fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
